/*To add Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	   margin: 0;
	  padding: 0;
	   box-sizing: border-box;
		}
nav {
	/*Shorthand Property*/
	/*Padding is applied to all sides*/
	/*Value is 12.8px based on the root element*/
	padding: 0.8rem;
	/*
	padding-left:  0.8 rem;
	padding-rigth:  0.8 rem;
	padding-top:  0.8 rem;
	padding-bottom:  0.8 rem;
	*/

	/*margin separates content from other elements*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav ul	{
	list-style-type: none;
}

nav .nav-logo, nav .nav {
	margin:  0.5rem;

	/*display inline changes list items to inline elements*/
	display:  inline;
}

#intro {
	padding-left:  10%;
	padding-right:  10%;
	padding-top:  2rem;
	padding-bottom:  3rem;

	/*shorthand property: 
	padding:  2 rem 10% 3rem;*/

	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left:  10%;
	padding-right:  10%;
	padding-top:  2rem;
	padding-bottom:  3rem;
	text-align: center;

}

/*creates margin between Succeed info & paragraph*/
#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Member 1*/
#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
}

/*Member 2*/
#pre-footer div {
	display: inline-block;
	width: 20%;
}


/*Member 3*/
#pre-footer div > h3, #pre-footer div > p {
	margin-top: .3rem;
	margin-bottom: .3rem;
}


/*Member 4*/
footer {
    padding: .7rem;
}

/*Member 5*/
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}