/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS.Reset*/
* {
	   margin: 0;
	   padding: 0;
	   box-sizing: border-box;
}

nav ul {
	/*Shorthand Property*/
	/*"padding" is applied to ALL sides*/
	/*Value is 12.8px based on the root element*/
	padding: 0.8rem;
	/*	
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;
	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav-logo, nav .nav {
	/*Shorthand Property*/
	margin: .5rem;
	/*
	margin-top: ;
	margin-bottom: ;
	margin-right: ;
	margin-left: ;
	*/
	/*changes list items to inline elements*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*Shorthand Property*/
		/*padding: top left&right bottom;*/
	/*allign text elements*/
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem; /*padding: top left&right bottom;*/
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 2rem;
}

#succeed-info .card > h3 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-right: .5rem;
	margin-left: .5rem;
}