/*Type Selector*/
/*tag-name*/
/*put !improtant to prioritize*/
h1 {
	color: yellow;
}

/*Universal Selector*/
/* "*" sign means all*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*#id-name*/
#my-motto {
	Letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-world {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector*/
/* selector + selector */
/*upper command + img*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
/*selector selector*/
#places-to-live li {
	color: #075966;
}

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

.places {
	letter-spacing: 3px;
}